@page "/shopping-cart"
@using Models;
@inject ShoppingCartInMemory shoppingCartInMemory
@inject NavigationManager navManager
<h3>CartDetails</h3>

<h4>Total cash: @sumDiscount Eur</h4>

@{
    double sum = 0;
}
<ul>

    @foreach (var item in shoppingCartInMemory.selectedItems.OrderBy(x => x.ProductId))
    {
        <li>
            <div>
                @item.Product.ProductName
                <p>
                    @item.Product.ProductDescription
                </p>
                <p>
                    Cijena: @item.Product.ProductPrice

                </p>
                <p>
                    @{
                        if (item.Product.Discount < 1)
                        {
                            var sumItem = Convert.ToDouble(item.Product.ProductPrice)
                            * Convert.ToDouble(item.NumberOfItems);
                            sum = sum + sumItem;
                        <p>
                            Product price: @sumItem
                        </p>
                        <div>
                            <button type="button" @onclick="()=>Decrement(item.ProductId)">-</button>
                            <input type="number" @bind-value="item.NumberOfItems" width="30px;" disabled="disabled">
                            <button type="button" @onclick="()=>Increment(item.ProductId)">+</button>
                        </div>
                        }

                        else
                        {
                            var discount = ((Convert.ToDouble(item.Product.Discount) / 100)
                            * Convert.ToDouble(item.Product.ProductPrice));
                            var result = Math
                            .Round(Convert.ToDouble(item.Product.ProductPrice) - discount, 2);
                            result = result * item.NumberOfItems;
                            sum = sum + result
                            ;
                        <div>
                               
                            <br>
                            Discounted price: @result (Original price:
                                @item.Product.ProductPrice * @item.NumberOfItems / Discount: @item.Product.Discount "%"
                        </div>

                        <div>
                            <button type="button" @onclick="()=>Decrement(item.ProductId)">-</button>
                            <input type="number" @bind-value="item.NumberOfItems" width="30px;" disabled="disabled">
                            <button type="button" @onclick="()=>Increment(item.ProductId)">+</button>
                        </div>
                        }
                    }
                </p>
            </div>
        </li>
    }
</ul>

<button type="button" class="btn btn-success" @onclick="Buy">Buy</button>
<p>
    Ukupno cijena za proizvode: @sum
</p>
@code {

    double sumDiscount = 0;

    protected override async Task OnInitializedAsync()
    {
        await Discount();
    }
    public async Task Decrement(int prodId)
    {
        var decrease = shoppingCartInMemory.selectedItems.FirstOrDefault(x => x.ProductId == prodId);

        if (decrease.NumberOfItems > 1)
        {
            shoppingCartInMemory.selectedItems.Remove(decrease);
            decrease.NumberOfItems = decrease.NumberOfItems - 1;
            shoppingCartInMemory.selectedItems.Add(decrease);
            await Discount();
            StateHasChanged();
        }
    }

    public async Task Increment(int prodId)
    {
        var decrease = shoppingCartInMemory.selectedItems.FirstOrDefault(x => x.ProductId == prodId);
        shoppingCartInMemory.selectedItems.Remove(decrease);

        decrease.NumberOfItems = decrease.NumberOfItems + 1;
        shoppingCartInMemory.selectedItems.Add(decrease);
        await Discount();
        StateHasChanged();
    }

    public async Task Discount()
    {
        sumDiscount = 0;
        foreach (var item in shoppingCartInMemory.selectedItems.OrderBy(x => x.ProductId))
        {
            if (item.Product.Discount < 1)
            {
                sumDiscount = sumDiscount + Convert.ToDouble(item.Product.ProductPrice) *
            Convert.ToDouble(item.NumberOfItems);

            }
            else
            {

                var getPrice = Convert.ToDouble(item.Product.ProductPrice);

                var discount = ((Convert.ToDouble(item.Product.Discount) / 100) *
                Convert.ToDouble(item.Product.ProductPrice));

                getPrice = Math.Round(Convert.ToDouble(item.Product.ProductPrice) - discount, 2);

                sumDiscount = sumDiscount + (getPrice * item.NumberOfItems);


            }

        }
    }

    private async Task Buy()
    {
        navManager.NavigateTo("/checkout");
    }
}
